.home__bg{
   background-image: url(https://images.pexels.com/photos/4931332/pexels-photo-4931332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

   height : 92vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   overflow-x: hidden;
}
.home-message-icon{
   margin-left: 10px;
   display: inline-block;
   
}

